{% extends "layout.html" %}
{% block content %}
<section class="jumbotron text-center">
  <br>

  <!-- Section pour afficher les notifications -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="container">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for category, message in messages %}
      <p class="mb-0">{{ message }}</p>
      {% endfor %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endif %}
  {% endwith %}

  <!-- Section des offres -->
  <div class="row">
    {% for key, value in generated_offers.items() %}
    <div class="col-lg-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <div class="d-flex justify-content-between align-items-center">
            <strong class="d-inline-block mb-2 text-primary">Offer ID: {{ key }}</strong>
            <!-- Ajouter le bouton Apply à côté de l'Offer ID -->
            <div class="col-auto d-none d-lg-block">
              <a href="/post_cvs/{{ key }}" class="btn btn-primary mb-2" role="button" aria-disabled="true">Apply</a>
            </div>
          </div>
          <p class="card-text mb-auto">{{ value }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
